
* {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 25px;
}

.push-down {
    padding-top: 300px;

}

.lower {
    margin-top: 100px;
}

.coffee-name {
    font-weight: bold;
    font-size: 35px;
    float: right;
    clear: right;
}

.coffee-roast {
    color: lightgray;
    float: right;
    clear: left;
    font-size: 35px;
    padding-left: 10px;
}

.header {
    background: lightgray;
    margin-left: 0;
    padding-left: 0;
    color: black;
    border: black solid 5px;
}
h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 15px;
    font-weight: bold;
}

h2 {
    padding-top: 30px;
}

body {
    background: #444343;
    color: white;
    border: black solid 10px;
    margin: 0;
    padding-left: 0;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

footer {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    color: lightgray;
}

svg {
    padding-left: 10px;
    padding-right: 10px;
}